<template lang="pug">
	Popper(
		trigger="hover"
		:options="options"
	)
		slot
		slot(name="reference" slot="reference")
</template>

<script>
import Popper from 'vue-popperjs'
import 'vue-popperjs/dist/vue-popper.css'

export default {
	components: { Popper },
	computed: {
		options() {
			return {
				placement: 'bottom-end'
			}
		}
	}
}
</script>
