<template lang="pug">
	.popper.filter
		label.filter__label(
			v-for="cat of categories"
			:key="cat.id"
		)
			| {{cat.name}}
			input.filter__input(
				type="checkbox"
				:value="cat.name"
				v-model="model"
			)

		ToggleButton(
			v-model="filterType"
			:labels="{ checked: 'ИЛИ', unchecked: 'И' }"
			:width="60"
		)

		Button(@click="RESET_FILTERS")
			| Показать все
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import Button from '@/components/Button/Button'

export default {
	components: { Button },
	computed: {
		...mapState('products', ['categories', 'filter']),
		model: {
			get() {
				return this.filter.categories
			},
			set(categories) {
				this.UPDATE_FILTER({ categories })
			}
		},
		filterType: {
			get() {
				return this.filter.typeOR
			},
			set(typeOR) {
				this.UPDATE_FILTER({ typeOR })
			}
		}
	},
	methods: {
		...mapMutations('products', ['UPDATE_FILTER', 'RESET_FILTERS'])
	}
}

</script>

<style lang="sass" scoped>
	.filter
		width: 240px;
		padding: 14px;
		max-height: 300px;
		overflow-y: auto;

		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&__label
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;

			&:hover
				opacity: .8;

		&__input
			margin-left: 12px;
			transform: scale(1.4) translateY(1px);
</style>
