<template lang="pug">
	button.button(
		v-on="listeners"
	)
		slot
</template>

<script>
export default {
	computed: {
		listeners() {
			return {
				...this.$listeners
			}
		}
	}
}
</script>

<style lang="sass">
	.button
		background: none;
		border: 1px solid #e0e0e0;
		outline: none;
		border-radius: 2px;
		padding: 4px 12px;
		cursor: pointer;
		transition: background 160ms linear;

		&:hover
			background: #f0f0f0;
</style>
