<template lang="pug">
	button.button(v-on="$listeners")
		Icon.button__icon(v-bind="$attrs")
</template>

<script>
export default {
	inheritAttrs: false
}
</script>

<style lang="sass" scoped>
	.button
		background: none;
		border: none;
		padding: 6px;
		cursor: pointer;
		outline: none;

		&:hover
			opacity: .6;

		&__icon
</style>
