<template lang="pug">
	header.header
		Link(
			v-for="(link, i) of links"
			v-bind="link"
			:key="i"
		)
</template>

<script>
import { mapGetters } from 'vuex'
import Link from '@/components/Elements/Link'

export default {
	components: {
		Link
	},
	computed: {
		...mapGetters('cart', ['cartCount']),
		links() {
			return [
				{
					to: '/products',
					label: 'Товары'
				},
				{
					to: '/cart',
					label: 'Корзина' + (this.cartCount ? ` (${this.cartCount})` : '')
				}
			]
		}
	}
}
</script>

<style lang="sass" scoped>
	.header
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 36px;
		border-bottom: 1px solid #d0d0d0;
		box-shadow: 0 1px 6px -2px rgba(#000, .2);

		.link
			margin-right: 12px;
</style>
