<template lang="pug">
	NuxtLink.link(
		active-class="link_active"
		:to="to"
	)
		| {{label}}
</template>

<script>
export default {
	props: {
		to: {
			required: true,
			type: String
		},
		label: {
			required: true,
			type: String
		}
	}
}
</script>

<style lang="sass" scoped>
	.link
		color: #333;
		border-bottom: 1px solid #000;

		&_active
			color: #bbb;
			cursor: not-allowed;
			border-bottom-color: transparent;

		&:hover:not(&_active)
			opacity: .6;
</style>
