<template lang="pug">
	.search
		input.search__input(
			placeholder="Поиск...",
			v-model="query"
			@keydown.esc="clear"
			autofocus
		)
		.search__toolbar
			button.search__button(
				v-if="query"
				@click="clear"
			)
				Icon(name="times")

			Popup
				PopupFilterContent
				button.search__button(
					@click="clear"
					slot="reference"
				)
					Icon(name="bars")
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Popup from '@/components/Overlay/Popup'
import PopupFilterContent from '@/components/Overlay/PopupFilterContent'

export default {
	components: { Popup, PopupFilterContent },
	inheritAttrs: false,
	data() {
		return {
			categories: []
		}
	},
	computed: {
		...mapState('products', ['filter']),
		query: {
			get() {
				return this.filter.query
			},
			set(query) {
				this.UPDATE_FILTER({ query })
			}
		}
	},
	methods: {
		...mapMutations('products', ['UPDATE_FILTER']),
		clear() {
			this.query = ''
		}
	}
}
</script>

<style lang="sass" scoped>
	.search
		display: flex;
		position: relative;
		align-items: center;
		margin: 0 -1px;

		&__input
			width: 100%;
			padding: 0 12px;

		&__toolbar
			position: absolute;
			right: 0;
			display: flex;
			align-items: center;
			height: 100%;

		&__button
			height: 100%;
			background: none;
			border: none;
			padding: 0 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ccc;
			transition: color 160ms linear;
			cursor: pointer;
			outline: none;

			&:hover
				color: #000;

</style>
