<template lang="pug">
	#app
		Header
		nuxt
</template>

<script>
import Header from '@/components/Layout/Header'

export default {
	components: {
		Header
	}
}
</script>

<style lang="sass">
	body
		background: #f8f8f8;

	#__nuxt
		display: flex;
		justify-content: center;

	#__layout
		margin-top: 40px;
		width: 55vw;

	#app
		box-shadow: 0 0 12px 0 rgba(#000, .4), 0 0 4px -1px rgba(140, 140, 255, .6);
		border-radius: 2px;
</style>
