<template lang="pug">
	.product(
		:class="{ 'product_selected': selected }"
	)
		.product__name(v-html="highlighted")
		.product__actions
			slot(name="actions")
</template>

<script>
import { mapState } from 'vuex'

export default {
	props: {
		product: {
			required: true,
			type: Object
		},
		selected: {
			type: Boolean
		}
	},
	computed: {
		...mapState('products', ['filter']),
		highlighted() {
			const { query } = this.filter

			if (!query) {
				return this.product.name
			}

			const index = this.product.name.toLowerCase().indexOf(query.toLowerCase())

			const start = this.product.name.substring(0, index)
			const content = this.product.name.substring(index, index + query.length)
			const end = this.product.name.substring(index + query.length, this.product.name.length)

			return start + `<span class="highlight">${content}</span>` + end
		}
	}
}
</script>

<style lang="sass" scoped>
	@keyframes enter-actions
		from
			transform: translateX(20px)
			opacity: 0;

	.product
		display: flex;
		padding: 4px 12px;
		transition: 120ms ease-out;
		transition-properties: background-color border-left;
		justify-content: space-between;
		align-items: center;
		height: 32px;
		border-left: 0 solid rgba(green, 0);
		overflow: hidden;

		&__actions
			animation: enter-actions 320ms ease-out forwards;

		&:not(:hover) &__actions
			display: none;

		&:hover
			background: #f0f0f0;

		&_selected
			border-left: 4px solid green;

</style>
