<template lang="pug">
	.product-list
		ProductRow(
			v-for="product of filteredProducts"
			:key="product.id",
			:product="product"
			:selected="isItemInCart(product.id)"
		)
			ButtonIcon(
				slot="actions"
				@click="toggleCartState(product)"
				:name="iconByProductState(product.id)"
			)
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import ProductRow from './ProductRow'
import ButtonIcon from '@/components/Button/ButtonIcon'

export default {
	components: { ButtonIcon, ProductRow },
	props: {
		products: {
			required: true,
			type: Array
		}
	},
	data() {
		return {
			filter: {
				query: ''
			}
		}
	},
	computed: {
		...mapGetters('cart', ['isItemInCart']),
		...mapGetters('products', ['filteredProducts'])
	},
	methods: {
		...mapMutations('cart', ['ADD_TO_CART', 'REMOVE_FROM_CART']),
		toggleCartState(product) {
			if (this.isItemInCart(product.id)) {
				this.REMOVE_FROM_CART(product.id)
			} else {
				this.ADD_TO_CART(product)
			}
		},
		iconByProductState(productId) {
			return this.isItemInCart(productId)
				? 'folder-minus'
				: 'folder-plus'
		}
	}
}
</script>

<style lang="sass" scoped>
	.product-list
		padding: 12px 0;
</style>
