<template lang="pug">
	.cart
		.cart__placeholder(v-if="isEmptyCart")
			| Корзина пуста
		.cart__list(v-else)
			ProductRow(
				v-for="product of cart"
				:key="product.id",
				:product="product"
			)
				ButtonIcon(
					slot="actions"
					@click="REMOVE_FROM_CART(product.id)"
					name="folder-minus"
				)
					| Удалить из корзины

</template>

<script>
import { mapState, mapMutations } from 'vuex'
import ProductRow from '@/components/Product/ProductRow'
import ButtonIcon from '@/components/Button/ButtonIcon'

export default {
	components: { ProductRow, ButtonIcon },
	head: {
		title: 'Корзина'
	},
	computed: {
		...mapState('cart', ['cart']),
		isEmptyCart() {
			return !this.cart.length
		}
	},
	methods: {
		...mapMutations('cart', ['REMOVE_FROM_CART'])
	}
}
</script>

<style lang="sass">
	.cart
		display: flex;

		&__placeholder
			color: #bbb;
			text-transform: uppercase;
			font-size: 14px;
			margin: 14px 0;
			width: 100%;
			text-align: center;

		&__list
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 12px 0;
</style>
