<template lang="pug">
	.products
		Search
		ProductList(
			v-if="products"
			:products="products"
		)
		.products__placeholder(v-else)
			| Товары отсутсвуют
</template>

<script>
import { mapState } from 'vuex'
import Button from '@/components/Button/Button'
import Search from '@/components/Elements/Search'
import ProductList from '@/components/Product/ProductsList'

export default {
	components: { Button, ProductList, Search },
	head: {
		title: 'Товары'
	},
	computed: {
		...mapState('products', ['products'])
	},
	fetch({ store }) {
		return Promise.all([
			store.dispatch('products/fetchProducts'),
			store.dispatch('products/fetchCategories')
		])
	}
}
</script>
